$font-color: #05a699;
$light-color: #72cec7;

.summary-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 240px;
  background: #e5f7f5;
  border: dashed 2px $font-color;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 40px 40px 20px;
  box-sizing: border-box;
  font-family: Roboto;
  .padlock {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: $light-color;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .padlock__img {
      width: 40px;
      height: 50px;
    }
  }
  .summary {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    .fit-container {
      padding-left: 40px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      .fit {
        padding-right: 15%;
        width: 85%;
        height: 150px;
        .fit__progress-bar {
          border-radius: 20px;
          height: 15px;
          width: 100%;
          margin-bottom: 18px;
        }
        .fit__statement {
          color: #3c435a;
          line-height: 25px;
          margin: 20px 0 35px;
        }
      }
      .action {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .action__matching {
          color: $font-color;
        }
        .action-button {
          border: none;
          background: none;
          color: #929fa9;
          margin-right: 60px;
        }
      }
    }
    .result {
      display: flex;
      flex-direction: column;
      align-items: center;
      .result__fit {
        color: $font-color;
        font-size: 24px;
        text-align: center;
      }
      .result__sum {
        text-align: center;
        color: $font-color;
        font-size: 40px;
        margin: 25px 0;
        font-weight: bold;
      }
      .result__button {
        background: #ff2b59;
        width: 120px;
        height: 40px;
        text-align: center;
        font-size: 14px;
        color: white;
        border-radius: 50px;
        border: none;
        line-height: 14px;
        margin-top: 35px;
      }
    }
  }
}

.fit__progress-bar::after {
  content: '';
  display: block;
  background: $light-color;
  height: 100%;
  border-radius: 9px;
}

.fit__progress-bar--big {
}

.fit__progress-bar--small {
}

.fit__progress-bar--big::after {
  width: 65%;
}

.fit__progress-bar--small::after {
  width: 40%;
}




